// Forms ///////////////////////////////////////////////////////////

// Most of this is up for review…
// Normalise takes pretty good care of forms

// Form ------------------------------------------------------------
form { 
  
  fieldset { 
    margin: 0 0 (@baselineheight - 1px) 0;
    padding: (@baselineheight) (@gutterwidth * 0.5);
    border: 1px solid @lightergrey;
    
    legend {
      padding: (@baselineheight * 0.25) (@gutterwidth * 0.5);
      border: 1px solid @lightergrey;
      background-color: @bodycolor;
    
    }
  }

  p {
    margin-bottom: (@baselineheight);
  }
  
  ul {
    list-style-type: none; 
    margin: 0 0 @baselineheight 0;
    padding: 0;
  }
  
  br {
    display: none;
  }
}


// Label -----------------------------------------------------------
label {
  cursor: pointer;
}


// Inputs ----------------------------------------------------------
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"] {
  background-color: @inputbackground;
  border: @inputborderwidth @inputborderstyle @inputborder;
  color: @inputtextcolor;

  border-top-color: darken(@inputborder, 7%);
  
  //.inset-shadow(0 1px 1px rgba(0,0,0,0.1));
  .border-radius(4px);
  .box-sizing(border-box);
  .appearance(none);
  .transition(~'border-color 0.2s, background-color 0.2s, box-shadow 1s');

  
  &:hover {
    border-color: @inputhover;
  }
  
  &:focus {
    outline: 0;
    border-color: @inputfocus;
    
    //.box-shadow(0 0 10px fadeout(@inputfocus, 70%));
  }
  
  &:invalid,
  &.invalid {
    border-color: lighten(@errorcolor, 36%);
    border-top-color: lighten(@errorcolor, 29%);
    background-color: lighten(@errorcolor, 36%);
    
    &:hover,
    &:focus,
    &:active {
      border-color: lighten(@errorcolor, 15%);
    }
    
    &:focus,
    &:active {
      //border-color: lighten(@errorcolor, 25%);
      //background-color: @white;
      //.box-shadow(0 0 5px fadeout(@errorcolor, 60%));
    }
  }
}

// Specifics -----------------------------------
input,
textarea {
  padding: 0 4px;
  vertical-align: bottom;
}


input,
textarea,
select {
  .font-size(14);  
  height: (@baselineheight);
  max-width: 100%;
}


select {
  vertical-align: text-top;
}


input[type="checkbox"],
input[type="radio"] {
  padding: 0;
  .box-sizing(border-box);
  .margin-x(@gw * 0.25);
}


input[type="image"] {
  padding: 0;
  height: (@baselineheight - 2px);
  margin-bottom: -7px;
}


input[type="file"] {
  border: initial;
  padding: initial;
  line-height: initial;
  width: 100%; // Make the damn thing behave
}


input[type="button"],
input[type="reset"],
input[type="submit"] {
  padding: 0px 0.5em;
}


input[type="date"],
input[type="month"],
input[type="week"],
input[type="datetime-local"] {
  height: 24px;
}


input[type="color"] {
  height: 20px;
  padding: 0 0.25em;
  vertical-align: text-top;
}


textarea {
  min-height: (@blh * 2.5);
  height: auto;
  overflow: auto; 
  vertical-align: top;
  line-height: (@baselineheight);
  .resize(vertical);
}


input[type="hidden"] {
  display: none;
}


input[type="range"]:focus,
input[type="file"]:focus,
input[type="radio"]:focus,
input[type="checkbox"]:focus,
select:focus {
  outline: 1px dotted @inputfocus;
  outline-offset: 1px;
}


// Placeholder -----------------------------------------------------

::-webkit-input-placeholder {
  color: @placeholdercolor;
}

input:-moz-placeholder { 
  color: @placeholdercolor;
}


// Greater than IE8 ------------------------------------------------
.gt-ie8 {

  select,
  input[type="radio"],
  input[type="checkbox"] {
    background-color: @inputbackground;
    border: @inputborderwidth @inputborderstyle @inputborder;
    color: @inputtextcolor;
  
    border-top-color: darken(@inputborder, 7%);
    
    //.inset-shadow(0 1px 1px rgba(0,0,0,0.1));
    .border-radius(4px);
    .box-sizing(border-box);
    .appearance(none);
    .transition(~'border-color 0.2s, background-color 0.2s, box-shadow 1s');
    
    &:hover {
      border-color: @inputhover;
    }
    
    &:focus {
      outline: 0;
    }
    
    &:invalid,
    &.invalid {
      border-color: lighten(@errorcolor, 36%);
      border-top-color: lighten(@errorcolor, 29%);
      background-color: lighten(@errorcolor, 36%);
      
      &:hover,
      &:focus,
      &:active {
        border-color: lighten(@errorcolor, 15%);
      }
      
      &:focus,
      &:active {
        //border-color: lighten(@errorcolor, 25%);
        //background-color: @white;
        //.box-shadow(0 0 5px fadeout(@errorcolor, 60%));
      }
    }
  }


  select {    
    vertical-align: bottom;
    position: relative;
    
    padding: 0 1.75em 0 0.375em;
    border-top-color: @inputborder;
    border-bottom-color: darken(@inputborder, 7%);
    
    .select_arrow() when (luma(@inputbackground) < 64%) {
      background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABIAAAAKBAMAAABLZROSAAAABGdBTUEAALGPC/xhBQAAAAFzUkdCAK7OHOkAAAASUExURf///wAAAP///////////////6TQ+X8AAAAGdFJOU4AAQHgYCtMuA9sAAABBSURBVAjXYwhSggBVBgUGCGBiCIayTBhEDMAMZkcGQWeIkCCDIFiQ2RHIAguaCIJYQEGgEIgFFAQKgVkixkAhQQBZcgcsuc/G9wAAAABJRU5ErkJggg==)
                no-repeat
                @inputbackground; }
    
    .select_arrow() when (luma(@inputbackground) > 64%) {
      background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABIAAAAKBAMAAABLZROSAAAABGdBTUEAALGPC/xhBQAAAAFzUkdCAK7OHOkAAAASUExURQAAAAAAAAAAAAAAAAAAAAAAAOArGaIAAAAGdFJOU5kATI8dDe6564MAAABBSURBVAjXYwhSggBVBgUGCGBiCIayTBhEDMAMZkcGQWeIkCCDIFiQ2RHIAguaCIJYQEGgEIgFFAQKgVkixkAhQQBZcgcsuc/G9wAAAABJRU5ErkJggg==)
                no-repeat
                @inputbackground; }
    
    .select_arrow();
    
    background-position: right 0.575em center;
    background-position: 96% center\9;            
    .background-size(0.575em auto);
    
    // FF Fixes. Surprise.
    text-indent: 1px;
    text-overflow: '';
    
    &:focus {
      border-color: @inputfocus;
    }
  }
  
  
  input[type="checkbox"],
  input[type="radio"] {
    display: inline-block;
    vertical-align: baseline;
    position: relative;
    top: 2px;
      
    width: 15px;
    height: 15px;
    background-color: darken(@inputbackground, 3%);
    border-color: darken(@inputborder, 3%);
    border-top-color: darken(@inputborder, 12%);
  }
  
  
  input[type="radio"] {
    .border-radius(100%);  
    
    &:after {
      content: '';
      display: block;
      //position: absolute;
      
      background: @textcolor;
      
      
      height: 5px;
      width: 5px;
      margin: 4px;
      .border-radius(100%);
      
      opacity: 0;
      .transition(opacity 0.2s);
    }
    
    &:checked:after {
      opacity: 1;
    }
  }
   
    
  input[type="checkbox"] {
    .border-radius(2px);
    
    &:after {
      content: '';
      display: block;
      position: absolute;
      left: 1px;
      top: 3px;
      
      border: 2px solid @textcolor;
      border-top: none;
      border-right: none;
      
      height: 5px;
      width: 11px;
      
      opacity: 0;
      .rotate(-45deg);
      .transition(opacity 0.2s);
    }
    
    &:checked:after {
      opacity: 1;
    }
  }    
}