// Forms ///////////////////////////////////////////////////////////

// General ---------------------------------------------------------
input,
textarea,
select {
 .font-size(14); 
 
  max-width: 100%;
  height: @blh;
  line-height: (@blh - (@controlsborderwidth * 2));
  
  padding: 0 4px;
  border: @controlsborderwidth solid @controlsbordercolor;
  border-radius: @controlsroundness;
  margin: 0;
  
  background: @controlsbackground;
  .transition(~'border-color 0.2s, background-color 0.2s');
  
  vertical-align: top;
  .appearance(none);
  
  & when (luma(@controlsbackground) < 64%) {
    color: @white;
  }
  
  &:hover,
  &:focus {
    border-color: @basecolor;
    outline: none;
  }
  
  &:invalid,
  &.invalid {
    border-color: lighten(@errorcolor, 36%);
    background-color: lighten(@errorcolor, 36%);
    
    &:hover,
    &:focus,
    &:active {
      border-color: lighten(@errorcolor, 15%);
    }
  }
}

// Specifics -------------------------------------------------------

label {
  cursor: pointer;
  display: inline-block; 
  vertical-align: top;
}

input[type="range"]:focus,
input[type="file"]:focus,
input[type="radio"]:focus,
input[type="checkbox"]:focus {
  outline: 1px dotted @basecolor;
  outline-offset: 1px;
}

input[type="search"] {
  .appearance(none); // Specificity
}

input[type="file"] {
  border: initial;
  padding: initial;
  line-height: initial;
  width: 100%;
  background: transparent;
}

textarea {
  min-height: (@blh);
  overflow: auto;
  line-height: 1.25em;
  .resize(vertical);
}


// Placeholder -----------------------------------------------------

::-webkit-input-placeholder {
  color: darken(@controlsbackground, 25%);
  
  & when (luma(@controlsbackground) < 64%) {
    color: lighten(@controlsbackground, 25%);
  }
}

input:-moz-placeholder { 
  color: darken(@controlsbackground, 25%);
  
  & when (luma(@controlsbackground) > 64%) {
    color: lighten(@controlsbackground, 25%);
  }
}


// Greater than IE8 ------------------------------------------------
.gt-ie8 {

  select,
  input[type="radio"],
  input[type="checkbox"] {
    .appearance(none);

    &:focus {
      outline: none;
    }
  }

  select {    
    padding: 0 1.75em 0 0.375em;
    
    & when (luma(@controlsbackground) < 64%) {
      background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABIAAAAKBAMAAABLZROSAAAABGdBTUEAALGPC/xhBQAAAAFzUkdCAK7OHOkAAAASUExURf///wAAAP///////////////6TQ+X8AAAAGdFJOU4AAQHgYCtMuA9sAAABBSURBVAjXYwhSggBVBgUGCGBiCIayTBhEDMAMZkcGQWeIkCCDIFiQ2RHIAguaCIJYQEGgEIgFFAQKgVkixkAhQQBZcgcsuc/G9wAAAABJRU5ErkJggg==);
    }
    
    & when (luma(@controlsbackground) > 64%) {
      background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABIAAAAKBAMAAABLZROSAAAABGdBTUEAALGPC/xhBQAAAAFzUkdCAK7OHOkAAAASUExURQAAAAAAAAAAAAAAAAAAAAAAAOArGaIAAAAGdFJOU5kATI8dDe6564MAAABBSURBVAjXYwhSggBVBgUGCGBiCIayTBhEDMAMZkcGQWeIkCCDIFiQ2RHIAguaCIJYQEGgEIgFFAQKgVkixkAhQQBZcgcsuc/G9wAAAABJRU5ErkJggg==);
    }
    
    background-repeat: no-repeat;
    background-position: right 0.5em center;
    background-position: 96% center\9;            
    .background-size(0.6em auto);
    
    // FF Fixes. Surprise.
    text-indent: 1px;
    text-overflow: '';
  }
  
  input[type="checkbox"],
  input[type="radio"] {
    margin-top: 4px;
    width: 16px;
    height: 16px;
    
    &:after {
      opacity: 0;
      .transition(opacity 0.2s);
    }
    
    &:checked:after {
      opacity: 1;
    }
  }
    
  input[type="radio"] {
    border-radius: 100%;
    
    &:after {
      content: '';
      display: block;
      background: @textcolor;
      height: 6px;
      width: 6px;
      margin: 4px;
      border-radius: 100%; 
    }
  }
   
  input[type="checkbox"]:after {
    content: '';
    display: block;
    position: relative;
    left: 2px;
    top: 4px;
    border: 2px solid @textcolor;
    border-top: none;
    border-right: none;
    height: 5px;
    width: 10px;
    .rotate(-45deg);
  }    
}

// Options ---------------------------------------------------------

input,
textarea {
  & when (@controlsdepth) {
    border-top-color: darken(@controlsbordercolor, 10%);
    
    &:invalid,
    &.invalid {
      border-top-color: lighten(@errorcolor, 26%);
    }
  }
}

select {
  & when (@controlsdepth) {
    border-bottom-color: darken(@controlsbordercolor, 10%);
  }
}


// Sizing ----------------------------------------------------------

// Inputs --------------------------------------
.input-small() {
 .font-size(11);
  height: @smallsize;
  line-height: (@smallsize - (@controlsborderwidth * 2));
  padding: 0 3px;
}

.input-base() {
  .font-size(14);
  height: @blh;
  line-height: (@blh - (@controlsborderwidth * 2));
  padding: 0 4px;
}

.input-large() {
  .font-size(14);
  height: @largesize;
  line-height: (@largesize - (@controlsborderwidth * 2));
  padding: 0 6px;
}

.input-xlarge() {
  .font-size(16);
  height: @xlargesize;
  line-height: (@xlargesize - (@controlsborderwidth * 2));
  padding: 0 8px;
}

.input-size(@size) {
  .font-size(@size);
  height: 2em;
  line-height: 1.85em;
  padding: 0 0.5em 0.15em;
}


// All Controls --------------------------------
// Small -----------------------------
.controls-small() {
  .font-size(11);

  input,
  textarea,
  select {
    font-size: inherit;
    height: @smallsize;
  }
  
  input,
  textarea {
    padding: 0 3px;
  }
  
  input,
  select {
    line-height: (@smallsize - (@controlsborderwidth * 2));
  }

  textarea {
    min-height: @smallsize;
  }
  
  input[type='checkbox'],
  input[type='radio'] {
    padding: 0;
  }
  
  button,
  input[type="reset"],
  input[type="button"],
  input[type="submit"],
  input[type="image"],
  .btn {
    .btn-small();
  }
  
  .gt-ie8 & {
    input[type='checkbox'],
    input[type='radio'] {
      margin-top: 1px;
    }
  }
}

// Base ------------------------------
.controls-base() {
  .font-size(14);

  input,
  textarea,
  select {
    font-size: inherit;
    height: @blh;
  }
  
  input,
  textarea {
    padding: 0 3px;
  }
  
  input,
  select {
    line-height: (@blh - (@controlsborderwidth * 2));
  }
  
  label {
    line-height: @blh;
  }

  textarea {
    min-height: @blh;
  }
  
  input[type='checkbox'],
  input[type='radio'] {
    padding: 0;
  }
  
  button,
  input[type="reset"],
  input[type="button"],
  input[type="submit"],
  input[type="image"],
  .btn {
    .btn-base();
  }
  
  .gt-ie8 & {
    input[type='checkbox'],
    input[type='radio'] {
      margin-top: 4px;
    }
  }
}

// Large -----------------------------
.controls-large() {
  .font-size(14);
  
  input,
  textarea,
  select {
    font-size: inherit;
    height: @largesize;
  }
  
  input {
    padding: 0 6px;
  }
  
  input,
  select {
    line-height: (@largesize - (@controlsborderwidth * 2));
  }
  
  label {
    line-height: @largesize;
  }

  textarea {
    min-height: @largesize;
  }
  
  input[type='checkbox'],
  input[type='radio'] {
    padding: 0;
  }
  
  button,
  input[type="reset"],
  input[type="button"],
  input[type="submit"],
  input[type="image"],
  .btn {
    .btn-large();
  }
  
  .gt-ie8 & {
    input[type='checkbox'],
    input[type='radio'] {
      margin-top: ((@largesize * 1/3) / 2);
      width: (@largesize * 2/3);
      height: (@largesize * 2/3);
    }
    
    input[type='checkbox']:after {
      border-width: 3px;
      height: 7px;
      width: 14px;
    }
    
    input[type='radio']:after {
      height: 8px;
      width: 8px;
      margin: 5px; 
    }
  }
}

// X-Large ---------------------------
.controls-xlarge() {
  .font-size(16);
  
  input,
  textarea,
  select {
    font-size: inherit;
    height: @xlargesize;
  }
  
  input {
    padding: 0 8px;
  }
  
  input,
  select {
    line-height: (@xlargesize - (@controlsborderwidth * 2));
  }

  label {
    line-height: @largesize;
  }

  textarea {
    min-height: @largesize;
  }
  
  input[type='checkbox'],
  input[type='radio'] {
    padding: 0;
  }
  
  button,
  input[type="reset"],
  input[type="button"],
  input[type="submit"],
  input[type="image"],
  .btn {
    .btn-xlarge();
  }
  
  .gt-ie8 & {
    input[type='checkbox'],
    input[type='radio'] {
      margin-top: ((@xlargesize * 1/3) / 2);
      width: (@xlargesize * 2/3);
      height: (@xlargesize * 2/3);
    }
    
    input[type='checkbox']:after {
      top: 5px;
      border-width: 3px;
      height: 9px;
      width: 18px;
    }
    
    input[type='radio']:after {
      height: 10px;
      width: 10px;
      margin: 6px; 
    }
  }
}

// Numeric ---------------------------
.controls-size(@size) {
  .font-size(@size);
  
  input,
  textarea,
  select {
    font-size: inherit;
    height: 2em;
  }
  
  input,
  textarea {
    padding: 0 0.5em;
  }
  
  input,
  select {
    line-height: 1.85em;
  }
  
  label,
  textarea {
    min-height: 2em;
    line-height: 2em;
  }
  
  input[type='checkbox'],
  input[type='radio'] {
    padding: 0;
  }
  
  button,
  input[type="reset"],
  input[type="button"],
  input[type="submit"],
  input[type="image"],
  .btn {
    .btn-size(@size);
  }
  
  .gt-ie8 & {
    input[type='checkbox'],
    input[type='radio'] {
      margin-top: 0.333333em;
      width: 1.333333em;
      height: 1.333333em;
    }
    
    input[type='checkbox']:after {
      top: 0.277777em;
      left: 0.125em;
      border-width: 0.175em;
      height: 0.5em;
      width: 1em;
    }
    
    input[type='radio']:after {
      height: 0.555555em;
      width: 0.555555em;
      margin: 0.333333em;
    }
  }
}

// Hacks -----------------------------------------------------------
@-moz-document url-prefix() {
  textarea {
    padding-right: 0 !important;
  }
}



/* For review...

// Form ------------------------------------------------------------
form { 
  
  fieldset { 
    margin: 0 0 (@blh - 1px) 0;
    padding: (@blh) (@gw * 0.5);
    border: 1px solid @lightergrey;
    
    legend {
      padding: (@blh * 0.25) (@gw * 0.5);
      border: 1px solid @lightergrey;
      background-color: @bodycolor;
    
    }
  }

  p {
    margin-bottom: (@blh);
  }
  
  ul {
    list-style-type: none; 
    margin: 0 0 @blh 0;
    padding: 0;
  }
  
  br {
    display: none;
  }
}

*/