// Global //////////////////////////////////////////////////////////

// Variables -------------------------------------------------------


// Shorthand Column (remove in non-responsive layouts) -------------
.column(@fraction) { @gridbits: (320 / @gutterwidth); @gutterbits: (@gridwidth / @gridbits); @portion: (1 / @fraction); @columnwidth: @gutterbits * ((@gridbits - @portion) * @fraction); float: left; width: @columnwidth; .margin-x(@gutterbits * 0.5); }


// Root ------------------------------------------------------------

.head,
.foot,
.page {
  &:extend(.clearfix all);
}


nav {
  
  ul {
    .delist();
    margin: 0;
    
    li a {
      display: block;
    }
  }
  
  .menu_bar {
    .font-size(16);
    line-height: @blh;
    cursor: pointer;
  }
}


// Header //////////////////////////////////////////////////////////

.head {
  .site_title,
  nav.dropper {
    .column-all(1);
  }
}

// Footer //////////////////////////////////////////////////////////

.foot {
  padding-bottom: (@blh * 3);
  
  .bottom_line {
    .column-all(1);
  }
}

// Content /////////////////////////////////////////////////////////

.content {
  
}