// Layout Maker ////////////////////////////////////////////////////

// Column (needs redefining) -------------------------------------
@gridbits: (320 / @gutterwidth);
@gutterbits: (@gridwidth / @gridbits);

.column(@fraction) {@portion: (1 / @fraction); @columnwidth: @gutterbits * ((@gridbits - @portion) * @fraction); float: left; width: @columnwidth; .margin-x(@gutterbits * 0.5); }


// General Grid Contexts -------------------------------------------
[class^=grid_] {

  background-color: @lightergrey;
  margin-bottom: (@blh);
  padding-top: (@blh);
  position: relative;
  
  overflow: hidden;
  clear: both;
  
  // Layout ----------------------------------------------
  .layout {
    
  }
  
  
  
  // Grid Unit Span --------------------------------------
  [class^=span_] {
    padding-top: 0;
    position: relative;
    clear: both;
    
    [class~=unit] {
      .margin-x(0);
      width: 100%;
    }
  }
  
  // Grid Child ------------------------------------------
  [class^=grid_] {
    margin-bottom: 0;    
  }
  
  
  // Options ---------------------------------------------
  &.img_bg {
    background: center center no-repeat;
    .background-size(cover);    
    
    .unit {
      color: @white;
      
      &.bg {
        background-color: fadeout(@black, 50%);
      }
    }
  }
  
  &.centered {
    // This technique requires code to be reformatted
    // Removing white-space between unites
    text-align: center;
    
    [class~=unit] {
      float: none;
      display: inline-block;
      vertical-align: top;
      text-align: left;
    }
  }
}


// Grid Unit -------------------------------------------------------
.unit {
  margin-bottom: (@blh);
  //overflow: hidden;
  
  
  // Options ---------------------------------------------
  &.bg {
    background-color: @lightgrey;
    padding: 0 (@gw / 2);
    
    &.thumb figure {
      margin-top: (@gw / 2);
    }
  }
  
  &.thumb figure {
    
    i {
      display: block;
      text-align: center;
      padding: 20%;
      .font-size(48);
    }
  }
  
  &.centered {
    text-align: center !important;
  }
  
  &.listing {
  
    h6 {
      line-height: (@blh * 1.5);
    }
    
    ul {
      .delist();
    }
    
    li {
      line-height: ((@blh * 1.5) - 1px);
      border-bottom: 1px solid @lightgrey;
      
      &:first-child {
        line-height: ((@blh * 1.5) - 2px);
        border-top: 1px solid @lightgrey;
      }
    }
    
    li a {
      display: block;
    }   
  }
}


// Defined Grid Contexts -------------------------------------------

// One Column --------------------------------------------
.grid_1 {
  
  [class~=unit] {
    .column-all(1);
  }
  
}

// Two Columns -------------------------------------------
.grid_2 {
  
  [class~=unit] {
    .column(1);
    
    &:nth-of-type(2n + 1) {
      clear: left;
    }
  }

}

// Three Columns -----------------------------------------
.grid_3 {

  // Units -------------------------------------
  [class~=unit] {
    .column(1);
    
    &:nth-of-type(3n + 1) {
      clear: left;
    }
  }
  
  [class~=unit],
  [class^=span_] {
    
  }
    
  
  // 2/3 ---------------------------------------
  .span_2 {
    .column(1);
    
    // 1/6 --------------------------
    .grid_4 {
      
      .unit {
        .column(1/2);
        
        &:nth-of-type(3n + 1) {
          clear: none;
        }
        
        &:nth-of-type(2n + 1) {
          clear: left;
        }
      }
    }
    
    // 1/3 --------------------------
    .grid_2 {
      
      .unit {
        
      }
    }
  }
  
  // 1/3 ---------------------------------------
  .span_1 {
    .column(1);
    
    // 1/6 --------------------------
    .grid_2 {
      
      .unit {
        .column(1/2);
        
        &:nth-of-type(2n + 1) {
          clear: left;
        }
        
        &:nth-of-type(3n + 1) {
          clear: none;
        }
      }
    }
  }

}

// Four Columns ------------------------------------------
.grid_4 {
  
  [class~=unit] {
    .column(1);
    
    &:nth-of-type(2n + 1) {
      
    }
  }
  
  // Units -------------------------------------
  [class~=unit],
  [class^=span_] {
    
  }
  
  // 3/4 ---------------------------------------
  .span_3 {
    .column(1);
    
    // 1/5.3333333333 ----------------
    .grid_4 {
      
      .unit {
        .column(1/2);
        
        &:nth-of-type(2n + 1) {
          clear: left;
        }
      }
    }
    
    // 1/4 --------------------------
    .grid_3 {
      
      .unit {
      
      }
    }
  }
  
  // 1/2 ---------------------------------------
  .span_2 {
    .column(1);
    
    // 1/6 --------------------------
    .grid_3 {
      
      .unit {
      
      }
    }
    
    // 1/4 --------------------------
    .grid_2 {
      
      .unit {
      
      }
    }
  }
  
  // 1/4 ---------------------------------------
  .span_1 {
    .column(1);
  }
  
  &.small_units {
    
    [class~=unit] {
      .column(1/2);  
    }
  }
  
}

// Six Columns -------------------------------------------
.grid_6 {
  
  // Units -------------------------------------
  [class~=unit] {
    .column(1/2);
    
    &:nth-of-type(2n + 1) {
      clear: left;
    }
    
    &:nth-of-type(6n + 1) {
      clear: left;
    }
  }
  
  .unit,
  [class^=span_] {
    
  }
  
  // 5/6 ---------------------------------------
  .span_5 {
    .column-all(1);
  }
  
  // 2/3 ---------------------------------------
  .span_4 {
    .column-all(1);
    
    // 1/6 --------------------------
    .grid_4 {
      
      .unit {
      
      }
    }
    
    // 1/3 --------------------------
    .grid_2 {
      
      .unit {
      
      }
    }
  }
  
  // 1/2 ---------------------------------------
  .span_3 {
    .column-all(1);
    
    // 1/6 --------------------------
    .grid_3 {
      
      .unit {
      
      }
    }
  }
  
  // 1/3---------------------------------------
  .span_2 {
    .column(1);
    
    // 1/6 --------------------------
    .grid_2 {
      
      .unit {
      
      }
    }
  }
  
  // 1/6 ---------------------------------------
  .span_1 {
    .column(1);
  }

}


// Twelve Columns ----------------------------------------
.grid_12 {
  
  
  [class~=unit],
  .span_1 {
    .column-all(1/12);
  }
  
  .span_2 {
    .column-all(2/12);
  }
  
  .span_3 {
    .column-all(3/12);
  }
  
  .span_4 {
    .column-all(4/12);
  }
  
  .span_5 {
    .column-all(5/12);
  }
  
  .span_6 {
    .column-all(6/12);
  }
  
  .span_7 {
    .column-all(7/12);
  }
  
  .span_8 {
    .column-all(8/12);
  }
  
  .span_9 {
    .column-all(9/12);
  }
  
  .span_10 {
    .column-all(10/12);
  }
  
  .span_11 {
    .column-all(11/12);
  }
  
  .span_12 {
    .column-all(12/12);
  }

}


// Other Bits ------------------------------------------------------

.content_group {
  clear: both;
  overflow: hidden;
  
  h1 {
    .column-all(1);
  }
  
  &.defined,
  &.bg {
    margin-bottom: (@blh);
  }
  
  &.defined {
    border-bottom: 2px solid @lightgrey;
  }
  
  &.bg {
    background-color: @lightgrey;
    
    .bg {
      background-color: @lightergrey;
    }
  }
}




// Editing ---------------------------------------------------------

.edit_mode {

  /* Z Index
  
  */
  
  [class^=grid_],
  [class^=span_] {    
    
    &:before {
      content: attr(class);
      position: absolute;
      top: 0;
      left: 0;
      z-index: 102;
      
      .font-size(10);
      line-height: 20px;
      letter-spacing: 0.1em;
      color: darken(@infocolor, 36%);
      background: fadeout(@white, 50%);
      .padding-x(8px);
      
      .transition(background 0.2s);
    }
    
    &:hover {
      &:before {
        background: fadeout(@white, 10%);
      }
    }
  }
  
  .content_group,
  [class~=unit] {
    position: relative;
    
    &:before,
    &:after {
      z-index: 100;
    }
  
    &:before {
      content: attr(class);
      position: absolute;
      top: 0;
      right: 0;
      
      .font-size(10);
      line-height: 20px;
      letter-spacing: 0.1em;
      color: darken(@errorcolor, 36%);
      background: fadeout(@white, 50%);
      .padding-x(8px);
      z-index: 102;
      
      .transition(background 0.2s);
    }
    
    
    &:after {
      content: '';
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      border: 3px solid transparent;
      
      .transition(border-color 0.2s);
    }
    
    
    
    &:hover {
    
      &:before {
        background: fadeout(@white, 10%);
      }
      
      &:after {
        border-color: fadeout(#FAF, 40%);
      }
    }
  }
  
  .unit {
    z-index: 101;
  }
}


// Max-width 480 ---------------------------------------------------
@media only screen and (max-width: 479px) {
  
  [class^=grid_] {
    
    &.mobile_full {
      
      .layout {
        width: 100%;
        
        .unit {
          width: 100%;
          .margin-x(0);
          
          &.listing h6,
          &.listing li a {
            .padding-x((100% - 87.5) / 2);
          }
        }
      }
    }
  }
  
}



// Min-width 480 ---------------------------------------------------
@media only screen and (min-width: 480px) {

  // Column (needs redefining) -------------------------------------
  @gridbits: (@480width / @gutterwidth);
  @gutterbits: (@gridwidth / @gridbits);
  
  .column(@fraction) {@portion: (1 / @fraction); @columnwidth: @gutterbits * ((@gridbits - @portion) * @fraction); float: left; width: @columnwidth; .margin-x(@gutterbits * 0.5); }

  // Defined Grid Contexts -------------------------------------------

  // One Column --------------------------------------------
  .grid_1 {
    
    [class~=unit] {
      
    }
    
  }
  
  // Two Columns -------------------------------------------
  .grid_2 {
    
    [class~=unit] {
      .column(1);
      
      &:nth-of-type(2n + 1) {
        
      }
    }
  
  }
  
  // Three Columns -----------------------------------------
  .grid_3 {
  
    // Units -------------------------------------
    [class~=unit] {
      .column(1);
      
      &:nth-of-type(3n + 1) {
        
      }
    }
    
    [class~=unit],
    [class^=span_] {
      
    }
      
    
    // 2/3 ---------------------------------------
    .span_2 {
      .column(1);
      
      // 1/6 --------------------------
      .grid_4 {
        
        .unit {
          .column(1/2);
          
          &:nth-of-type(3n + 1) {
            
          }
          
          &:nth-of-type(2n + 1) {
            
          }
        }
      }
      
      // 1/4.5 --------------------------
      .grid_3 {

        .unit {
          
        }
      }
      
      // 1/3 --------------------------
      .grid_2 {
        
        .unit {
        
        }
      }
    }
    
    // 1/3 ---------------------------------------
    .span_1 {
      .column(1);
      
      // 1/6 --------------------------
      .grid_2 {
        
        .unit {
          .column(1/2);
          
          &:nth-of-type(2n + 1) {
            
          }
          
          &:nth-of-type(3n + 1) {
            
          }
        }
      }
    }
  
  }
  
  // Four Columns ------------------------------------------
  .grid_4 {
    
    [class~=unit] {
      .column(1/2);
      
      &:nth-of-type(2n + 1) {
        clear: left;
      }
    }
    
    // Units -------------------------------------
    [class~=unit],
    [class^=span_] {
      
    }
    
    // 3/4 ---------------------------------------
    .span_3 {
      .column(1);
      
      // 1/5.3333333333 ----------------
      .grid_4 {
        
        .unit {
          .column(1/2);
          
          &:nth-of-type(2n + 1) {
            clear: left;
          }
        }
      }

      // 1/4 --------------------------
      .grid_3 {
        
        .unit {
        
        }
      }
    }
    
    // 1/2 ---------------------------------------
    .span_2 {
      .column(1);
      
      // 1/6 --------------------------
      .grid_3 {
        
        .unit {
        
        }
      }
      
      // 1/4 --------------------------
      .grid_2 {
        
        .unit {
        
        }
      }
    }
    
    // 1/4 ---------------------------------------
    .span_1 {
      .column(1);
    }
    
    
    // Smaller Units -----------------------------
    &.small_units {
    
      [class~=unit] {
        .column(1/2);  
      }
    }
    
  }
  
  // Six Columns -------------------------------------------
  .grid_6 {
    
    // Units -------------------------------------
    [class~=unit] {
      .column(1/2);
      
      &:nth-of-type(2n + 1) {
        clear: left;
      }
      
      &:nth-of-type(6n + 1) {
        clear: left;
      }
    }
    
    .unit,
    [class^=span_] {
      
    }
    
    // 5/6 ---------------------------------------
    .span_5 {
      .column(1);
    }
    
    // 2/3 ---------------------------------------
    .span_4 {
      .column(1);
      
      // 1/6 --------------------------
      .grid_4 {
        
        .unit {
        
        }
      }
      
      // 1/3 --------------------------
      .grid_2 {
        
        .unit {
        
        }
      }
    }
    
    // 1/2 ---------------------------------------
    .span_3 {
      .column(1);
      
      // 1/6 --------------------------
      .grid_3 {
        
        .unit {
        
        }
      }
    }
    
    // 1/3---------------------------------------
    .span_2 {
      .column(1);
      
      // 1/6 --------------------------
      .grid_2 {
        
        .unit {
        
        }
      }
    }
    
    // 1/6 ---------------------------------------
    .span_1 {
      .column(1);
    }
  
  }
  
}

// Min-width 600 ---------------------------------------------------
@media only screen and (min-width: 600px) {

  // Column (needs redefining) -------------------------------------
  @gridbits: (@600width / @gutterwidth);
  @gutterbits: (@gridwidth / @gridbits);
  
  .column(@fraction) {@portion: (1 / @fraction); @columnwidth: @gutterbits * ((@gridbits - @portion) * @fraction); float: left; width: @columnwidth; .margin-x(@gutterbits * 0.5); }

  
  // Defined Grid Contexts -------------------------------------------

  // One Column --------------------------------------------
  .grid_1 {
    
    [class~=unit] {
      
    }
    
  }
  
  // Two Columns -------------------------------------------
  .grid_2 {
    
    [class~=unit] {
      .column(1);
      
      &:nth-of-type(2n + 1) {
        
      }
    }
  
  }
  
  // Three Columns -----------------------------------------
  .grid_3 {
  
    // Units -------------------------------------
    [class~=unit] {
      .column(1);
      
      &:nth-of-type(3n + 1) {
        
      }
    }
    
    [class~=unit],
    [class^=span_] {
      
    }
      
    
    // 2/3 ---------------------------------------
    .span_2 {
      .column(1);
      
      // 1/6 --------------------------
      .grid_4 {
        
        .unit {
          .column(1/3);
          
          &:nth-of-type(3n + 1) {
            clear: left;
          }
          
          &:nth-of-type(2n + 1) {
            clear: none;
          }
        }
      }
      
      // 1/4.5 --------------------------
      .grid_3 {

        .unit {
          .column(1/3);
        }
      }
      
      // 1/3 --------------------------
      .grid_2 {
        
        .unit {
          .column(1/2);
          
          &:nth-of-type(3n + 1) {
            clear: none;
          }
          
          &:nth-of-type(2n + 1) {
            clear: left;
          }
        }
      }
    }
    
    // 1/3 ---------------------------------------
    .span_1 {
      .column(1);
      
      // 1/6 --------------------------
      .grid_2 {
        
        .unit {
          .column(1/2);
          
          &:nth-of-type(2n + 1) {
            
          }
          
          &:nth-of-type(3n + 1) {
            
          }
        }
      }
    }
  
  }
  
  // Four Columns ------------------------------------------
  .grid_4 {
    
    [class~=unit] {
     .column(1/2);
     
      &:nth-of-type(2n + 1) {
        
      }
      
      &:nth-of-type(4n + 1) {
        
      }
    }
    
    // Units -------------------------------------
    [class~=unit],
    [class^=span_] {
      
    }
    
    // 3/4 ---------------------------------------
    .span_3 {
      .column(1);
      
      // 1/5.3333333333 ----------------
      .grid_4 {
        
        .unit {
          .column(1/2);
          
          &:nth-of-type(2n + 1) {
            clear: left;
          }
        }
      }
      
      // 1/4 --------------------------
      .grid_3 {
        
        .unit {
        
        }
      }
    }
    
    // 1/2 ---------------------------------------
    .span_2 {
      .column(1);
      
      // 1/6 --------------------------
      .grid_3 {
        
        .unit {
        
        }
      }
      
      // 1/4 --------------------------
      .grid_2 {
        
        .unit {
        
        }
      }
    }
    
    // 1/4 ---------------------------------------
    .span_1 {
      .column(1);
    }
    
    // Smaller Units -----------------------------
    &.small_units {
    
      [class~=unit] {
        .column(1/3); 
        
        &:nth-of-type(2n + 1) {
          clear: none;
        }
        
        &:nth-of-type(3n + 1) {
          clear: left;
        }
      }
    }
    
  }
  
  // Six Columns -------------------------------------------
  .grid_6 {
    
    // Units -------------------------------------
    [class~=unit] {
      .column(1/3);
      
      &:nth-of-type(2n + 1) {
        clear: none;
      }
      
      &:nth-of-type(3n + 1) {
        clear: left;
      }
      
      &:nth-of-type(6n + 1) {
        clear: left;
      }
    }
    
    .unit,
    [class^=span_] {
      
    }
    
    // 5/6 ---------------------------------------
    .span_5 {
      .column(1);
    }
    
    // 2/3 ---------------------------------------
    .span_4 {
      .column(1);
      
      // 1/6 --------------------------
      .grid_4 {
        
        .unit {
        
        }
      }
      
      // 1/3 --------------------------
      .grid_2 {
        
        .unit {
        
        }
      }
    }
    
    // 1/2 ---------------------------------------
    .span_3 {
      .column(1);
      
      // 1/6 --------------------------
      .grid_3 {
        
        .unit {
        
        }
      }
    }
    
    // 1/3---------------------------------------
    .span_2 {
      .column(1);
      
      // 1/6 --------------------------
      .grid_2 {
        
        .unit {
        
        }
      }
    }
    
    // 1/6 ---------------------------------------
    .span_1 {
      .column(1);
    }
  
  }
  
}

// Min-width 768 ---------------------------------------------------
@media only screen and (min-width: 768px) {

  // Column (needs redefining) -------------------------------------
  @gridbits: (@768width / @gutterwidth);
  @gutterbits: (@gridwidth / @gridbits);
  
  .column(@fraction) {@portion: (1 / @fraction); @columnwidth: @gutterbits * ((@gridbits - @portion) * @fraction); float: left; width: @columnwidth; .margin-x(@gutterbits * 0.5); }

  
  // Defined Grid Contexts -------------------------------------------

  // One Column --------------------------------------------
  .grid_1 {
    
    [class~=unit] {
      
    }
    
  }
  
  // Two Columns -------------------------------------------
  .grid_2 {
    
    [class~=unit] {
      .column(1/2);
      
      &:nth-of-type(2n + 1) {
        
      }
    }
  
  }
  
  // Three Columns -----------------------------------------
  .grid_3 {
  
    // Units -------------------------------------
    [class~=unit] {
      .column(1/3);
      
      &:nth-of-type(3n + 1) {
        clear: left;
      }
    }
    
    [class~=unit],
    [class^=span_] {
      
    }
      
    
    // 2/3 ---------------------------------------
    .span_2 {
      .column(1);
      
      // 1/6 --------------------------
      .grid_4 {
        
        .unit {
          .column(1/3);
          
          &:nth-of-type(3n + 1) {
            
          }
          
          &:nth-of-type(2n + 1) {
            
          }
        }
      }
      
      // 1/4.5 --------------------------
      .grid_3 {

        .unit {
          .column(1/3);
        }
      }
      
      // 1/3 --------------------------
      .grid_2 {
        
        .unit {
          .column(1/2);
        }
      }
    }
    
    // 1/3 ---------------------------------------
    .span_1 {
      .column(1);
      
      // 1/6 --------------------------
      .grid_2 {
        
        .unit {
          .column(1/2);
          
          &:nth-of-type(2n + 1) {
            
          }
          
          &:nth-of-type(3n + 1) {
            
          }
        }
      }
    }
  
  }
  
  // Four Columns ------------------------------------------
  .grid_4 {
    
    [class~=unit] {
     .column(1/4);
      
      &:nth-of-type(2n + 1) {
        clear: none;
      }
      
      &:nth-of-type(4n + 1) {
        clear: left;
      }
    }
    
    // Units -------------------------------------
    [class~=unit],
    [class^=span_] {
      
    }
    
    // 3/4 ---------------------------------------
    .span_3 {
      .column(1);
      
      // 1/5.3333333333 --------------
      .grid_4 {
        
        .unit {
          .column(1/4);
          
          &:nth-of-type(2n + 1) {
            clear: none;
          }
          
          &:nth-of-type(4n + 1) {
            clear: left;
          }
        }
      }
      
      // 1/4 -------------------------
      .grid_3 {
        
        .unit {
        
        }
      }
      
      // 3/8 -------------------------
      .grid_2 {
        
        .unit {
          .column(1/2);
        }
      }
    }
    
    // 1/2 ---------------------------------------
    .span_2 {
      .column(1);
      
      // 1/6 -------------------------
      .grid_3 {
        
        .unit {
        
        }
      }
      
      // 1/4 -------------------------
      .grid_2 {
        
        .unit {
        
        }
      }
    }
    
    // 1/4 ---------------------------------------
    .span_1 {
      .column(1);
    }
    
    // Smaller Units -----------------------------
    &.small_units {
    
      [class~=unit] {
        .column(1/3); 
      }
    }
    
  }
  
  // Six Columns -------------------------------------------
  .grid_6 {
    
    // Units -------------------------------------
    [class~=unit] {
      .column(1/3);
      
      &:nth-of-type(2n + 1) {
        clear: none;
      }
      
      &:nth-of-type(3n + 1) {
        clear: left;
      }
      
      &:nth-of-type(6n + 1) {
        clear: left;
      }
    }
    
    .unit,
    [class^=span_] {
      
    }
    
    // 5/6 ---------------------------------------
    .span_5 {
      .column(1);
    }
    
    // 2/3 ---------------------------------------
    .span_4 {
      .column(1);
      
      // 1/6 --------------------------
      .grid_4 {
        
        .unit {
        
        }
      }
      
      // 1/3 --------------------------
      .grid_2 {
        
        .unit {
        
        }
      }
    }
    
    // 1/2 ---------------------------------------
    .span_3 {
      .column(1);
      
      // 1/6 --------------------------
      .grid_3 {
        
        .unit {
        
        }
      }
    }
    
    // 1/3---------------------------------------
    .span_2 {
      .column(1);
      
      // 1/6 --------------------------
      .grid_2 {
        
        .unit {
        
        }
      }
    }
    
    // 1/6 ---------------------------------------
    .span_1 {
      .column(1);
    }
  
  }
  
}

// Min-width 992 ---------------------------------------------------
@media only screen and (min-width: 992px) {
  
  // Column (needs redefining) -------------------------------------
  @gridbits: (@992width / @gutterwidth);
  @gutterbits: (@gridwidth / @gridbits);
  
  .column(@fraction) {@portion: (1 / @fraction); @columnwidth: @gutterbits * ((@gridbits - @portion) * @fraction); float: left; width: @columnwidth; .margin-x(@gutterbits * 0.5); }

  // General Grid Contexts -------------------------------------------
  [class^=grid_] {
  
    // Grid Unit Span --------------------------------------
    [class^=span_] {
      clear: none;
    }
  }
  
  
  // Defined Grid Contexts -------------------------------------------

  // One Column --------------------------------------------
  .grid_1 {
    
    [class~=unit] {
      
    }
    
  }
  
  // Two Columns -------------------------------------------
  .grid_2 {
    
    [class~=unit] {
      .column(1/2);
      
      &:nth-of-type(2n + 1) {
        
      }
    }
  
  }
  
  // Three Columns -----------------------------------------
  .grid_3 {
  
    // Units -------------------------------------
    [class~=unit] {
      .column(1/3);
      
      &:nth-of-type(3n + 1) {
        
      }
    }
    
    [class~=unit],
    [class^=span_] {
      
    }
      
    
    // 2/3 ---------------------------------------
    .span_2 {
      .column(2/3);
      
      // 1/6 --------------------------
      .grid_4 {
        
        .unit {
          .column(1/4);
          
          &:nth-of-type(3n + 1) {
            clear: none;
          }
          
          &:nth-of-type(4n + 1) {
            clear: left;
          }
        }
      }
      
      // 1/3 --------------------------
      .grid_2 {
        
        .unit {
          .column(1/2);
        }
      }
    }
    
    // 1/3 ---------------------------------------
    .span_1 {
      .column(1/3);
      
      // 1/6 --------------------------
      .grid_2 {
        
        .unit {
          .column(1/2);
          
          &:nth-of-type(2n + 1) {
            
          }
          
          &:nth-of-type(3n + 1) {
            
          }
        }
      }
    }
  
  }
  
  // Four Columns ------------------------------------------
  .grid_4 {
    
    [class~=unit] {
     .column(1/4);
      
      &:nth-of-type(2n + 1) {
        
      }
      
      &:nth-of-type(4n + 1) {
        
      }
    }
    
    // Units -------------------------------------
    [class~=unit],
    [class^=span_] {
      
    }
    
    // 3/4 ---------------------------------------
    .span_3 {
      .column(3/4);
      
      // 1/5.3333333333 ----------------
      .grid_4 {
        
        .unit {
          .column(1/4);
        }
      }
      
      // 1/4 --------------------------
      .grid_3 {
        
        .unit {
        
        }
      }
      
      // 3/8 -------------------------
      .grid_2 {
        
        .unit {
          .column(1/2);
        }
      }
    }
    
    // 1/2 ---------------------------------------
    .span_2 {
      .column(1/2);
      
      // 1/6 --------------------------
      .grid_3 {
        
        .unit {
        
        }
      }
      
      // 1/4 --------------------------
      .grid_2 {
        
        .unit {
        
        }
      }
    }
    
    // 1/4 ---------------------------------------
    .span_1 {
      .column(1/4);
    }
    
    // Smaller Units -----------------------------
    &.small_units {
    
      [class~=unit] {
        .column(1/4); 
        
        &:nth-of-type(3n + 1) {
          clear: none;
        }
        
        &:nth-of-type(4n + 1) {
          clear: left;
        }
      }
    }
    
  }
  
  // Six Columns -------------------------------------------
  .grid_6 {
    
    // Units -------------------------------------
    [class~=unit] {
      .column(1/6);
      
      &:nth-of-type(2n + 1) {
        clear: none;
      }
      
      &:nth-of-type(3n + 1) {
        clear: none;
      }
      
      &:nth-of-type(6n + 1) {
        clear: left;
      }
    }
    
    .unit,
    [class^=span_] {
      
    }
    
    // 5/6 ---------------------------------------
    .span_5 {
      .column(5/6);
    }
    
    // 2/3 ---------------------------------------
    .span_4 {
      .column(2/3);
      
      // 1/6 --------------------------
      .grid_4 {
        
        .unit {
        
        }
      }
      
      // 1/3 --------------------------
      .grid_2 {
        
        .unit {
        
        }
      }
    }
    
    // 1/2 ---------------------------------------
    .span_3 {
      .column(1/2);
      
      // 1/6 --------------------------
      .grid_3 {
        
        .unit {
        
        }
      }
    }
    
    // 1/3---------------------------------------
    .span_2 {
      .column(1/3);
      
      // 1/6 --------------------------
      .grid_2 {
        
        .unit {
        
        }
      }
    }
    
    // 1/6 ---------------------------------------
    .span_1 {
      .column(1/6);
    }
  
  }
}

// Min-width 1382 --------------------------------------------------
@media only screen and (min-width: 1382px) {
  
  // Column (needs redefining) -------------------------------------
  @gridbits: (@1382width / @gutterwidth);
  @gutterbits: (@gridwidth / @gridbits);
  
  .column(@fraction) {@portion: (1 / @fraction); @columnwidth: @gutterbits * ((@gridbits - @portion) * @fraction); float: left; width: @columnwidth; .margin-x(@gutterbits * 0.5); }

  // Defined Grid Contexts -------------------------------------------

  // One Column --------------------------------------------
  .grid_1 {
    
    [class~=unit] {
      
    }
    
  }
  
  // Two Columns -------------------------------------------
  .grid_2 {
    
    [class~=unit] {
      .column(1/2);
      
      &:nth-of-type(2n + 1) {
        
      }
    }
  
  }
  
  // Three Columns -----------------------------------------
  .grid_3 {
  
    // Units -------------------------------------
    [class~=unit] {
      .column(1/3);
      
      &:nth-of-type(3n + 1) {
        
      }
    }
    
    [class~=unit],
    [class^=span_] {
      
    }
      
    
    // 2/3 ---------------------------------------
    .span_2 {
      .column(2/3);
      
      // 1/6 --------------------------
      .grid_4 {
        
        .unit {
          .column(1/4);
        }
      }
      
      // 1/3 --------------------------
      .grid_2 {
        
        .unit {
          .column(1/2);
        }
      }
    }
    
    // 1/3 ---------------------------------------
    .span_1 {
      .column(1/3);
      
      // 1/6 --------------------------
      .grid_2 {
        
        .unit {
          .column(1/2);
          
          &:nth-of-type(2n + 1) {
            
          }
          
          &:nth-of-type(3n + 1) {
            
          }
        }
      }
    }
  
  }
  
  // Four Columns ------------------------------------------
  .grid_4 {
    
    [class~=unit] {
     .column(1/4);
      
      &:nth-of-type(2n + 1) {
        
      }
      
      &:nth-of-type(4n + 1) {
        
      }
    }
    
    // Units -------------------------------------
    [class~=unit],
    [class^=span_] {
      
    }
    
    // 3/4 ---------------------------------------
    .span_3 {
      .column(3/4);
      
      // 1/5.3333333333 ----------------
      .grid_4 {
        
        .unit {
          .column(1/4);
        }
      }
      
      // 1/4 --------------------------
      .grid_3 {
        
        .unit {
        
        }
      }
      
      // 3/8 -------------------------
      .grid_2 {
        
        .unit {
          .column(1/2);
        }
      }
    }
    
    // 1/2 ---------------------------------------
    .span_2 {
      .column(1/2);
      
      // 1/6 --------------------------
      .grid_3 {
        
        .unit {
        
        }
      }
      
      // 1/4 --------------------------
      .grid_2 {
        
        .unit {
        
        }
      }
    }
    
    // 1/4 ---------------------------------------
    .span_1 {
      .column(1/4);
    }
    
    // Smaller Units -----------------------------
    &.small_units {
    
      [class~=unit] {
        .column(1/4);
      }
    }
    
  }
  
  // Six Columns -------------------------------------------
  .grid_6 {
    
    // Units -------------------------------------
    [class~=unit] {
      .column(1/6);
      
      &:nth-of-type(2n + 1) {
        
      }
      
      &:nth-of-type(3n + 1) {
        
      }
      
      &:nth-of-type(6n + 1) {
        
      }
    }
    
    .unit,
    [class^=span_] {
      
    }
    
    // 5/6 ---------------------------------------
    .span_5 {
      .column(5/6);
    }
    
    // 2/3 ---------------------------------------
    .span_4 {
      .column(2/3);
      
      // 1/6 --------------------------
      .grid_4 {
        
        .unit {
        
        }
      }
      
      // 1/3 --------------------------
      .grid_2 {
        
        .unit {
        
        }
      }
    }
    
    // 1/2 ---------------------------------------
    .span_3 {
      .column(1/2);
      
      // 1/6 --------------------------
      .grid_3 {
        
        .unit {
        
        }
      }
    }
    
    // 1/3---------------------------------------
    .span_2 {
      .column(1/3);
      
      // 1/6 --------------------------
      .grid_2 {
        
        .unit {
        
        }
      }
    }
    
    // 1/6 ---------------------------------------
    .span_1 {
      .column(1/6);
    }
  
  }
}







.flexslider {
  margin: 0;
  padding: 0;
  
  position: relative;
  
  .slides {

    &:extend(.clearfix all);    
    
    .delist();
    margin: 0;
    
    > li {
      display: none;
      -webkit-backface-visibility: hidden;
    } 
    
    img {
      width: 100%;
      display: block;
    }
  }
  
  .flex-control-nav,
  .flex-direction-nav {
    .delist();
    margin: 0;
    
    a {
      cursor: pointer;
    }
  }
  
  .flex-direction-nav {
    li {
      position: absolute;
      z-index: 100;
      
      width: 42px;
      height: 42px;
      line-height: 42px;
      
      top: 50%;
      margin-top: -21px;
      
      a {
        display: block;
        height: 100%;
        font-size: 0;
        text-align: center;
        
        &:before {
          font-family: FontAwesome;
          content: @chevron-left;
          .font-size(28);
          color: @white;
        }
      }
      
      &:last-child {
        right: 0;
        
        a:before {
          content: @chevron-right;
        }
      }
    }
  }
  
  .flex-control-nav {
    position: absolute;
    bottom: (@blh / 2);
    width: 100%;
    text-align: center;
    
    li {
      display: inline-block;
      
      a {
        display: block;
        background-color: @white;
        width: 8px;
        height: 8px;
        .border-radius(100%);
  
        .hide-text();
        .margin-x(@gw / 4);
      }
    }
  }
  
  .no-js & .slides > li:first-child {
    display: block;
  }
}
